<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Admin </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Admin</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <my-app-worksapce-explore-container
      name="Admin page"
    ></my-app-worksapce-explore-container>

  <ion-button [routerLink]="'../tab3'">Go Tab 3</ion-button>

    
  </ion-content>
  